.MainContainer {
	margin-top: 25px
}

.jumbotron {
	border-radius: 5px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.myPicture {
	width: 120px;
	height: auto;
	border-radius: 25px;
}

.summaryItem {
	margin-right: 20px;
}

.bs-callout-contact {
    border-left-color: red;
	border-right-color: red;
}
.bs-callout-contact h4 {
    color: red;
}

.bs-callout-summary {
    border-left-color: orange;
	border-right-color: orange;
}
.bs-callout-summary h4 {
    color: orange;
}

.bs-callout-keywords {
    border-left-color: #FFD800;
	border-right-color: #FFD800;
}
.bs-callout-keywords h4 {
    color: #FFD800;
}

.bs-callout-education {
    border-left-color: green;
	border-right-color: green;
}
.bs-callout-education h4 {
    color: green;
}

.bs-callout-history {
    border-left-color: blue;
	border-right-color: blue;
}
.bs-callout-history h4 {
    color: blue;
}

.bs-callout-historyItem {
    border: 1px solid #eee;
    border-left-width: 1px;
	border-right-width: 1px;
}

.bs-callout-plus {
    border-left-color: indigo;
	border-right-color: indigo;
}
.bs-callout-plus h4 {
    color: indigo;
}

.bs-callout-next {
    border-left-color: violet;
	border-right-color: violet;
}
.bs-callout-next h4 {
    color: violet;
}



