body {
  background-color: #292828;
  font-family: Ubuntu;
}

h1 {
  color: white;
}
h4 {
  color: #cccccc;
}

.my-photo {
  width: 250px;
  height: auto;
  border-radius: 10%;
}

.my-icon {
  width: 30px;
  height: auto;
}
